node_modules
dist
build
.github/**
.husky/**
.vscode/**

.dockerignore
docker-compose-dev.yml
docker-compose.yml
Dockerfile
mysql-data

grafana/**
prometheus/prometheus.yml
docker-compose.dev-bak.yml
